{% extends 'app.html.twig' %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="/assets/css/main.css" />
{% endblock %}
{% block title %}
  Inbox
{% endblock %}
{% block breadcrumb %}
  Inbox
{% endblock %}

{% block content %}
  <main>
    <h2>
      Welcome to the index page!
    </h2>
    <ul style="list-style: none;">
      <li>
        <input type="checkbox" name="" id="" checked />MVC framework with
        routing capabilities
      </li>
      <li>
        <input type="checkbox" name="" id="" checked />Database interactions
        using models
      </li>
      <li>
        <input type="checkbox" name="" id="" checked />Authentication using PHP
        Sessions
      </li>
      <li>
        <input type="checkbox" name="" id="" checked />Controller middleware for
        protected routes
      </li>
      <li><input type="checkbox" name="" id="" />Actual todo functionality</li>
    </ul>
  </main>
{% endblock %}
